<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JARVIS"
        android:supportsRtl="true"
        android:theme="@style/Theme.JarvisFSA"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.FaceActivity"
            android:exported="false"
            android:label="Jarvis Face"
            android:theme="@style/Theme.JarvisFSA" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>
